/* Filename: App.css */

body {
	/* background-image: url(
"./Images/bg_img2.png"
	); */
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/463/630/large_2x/jungle-wild-nature-green-color-scene-vector.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/* 
body{
  height: 200px;
  background-color: #cccccc;
  background-image: radial-gradient(red, yellow);
} */
